<!-- Página de gracias al enviar un formulario -->

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/logos/icons/logo1.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>Gracias por tu mensaje</title>
    </head>
    <body>
        <div id="app">
            <h1>¡Gracias por tu mensaje!</h1>
            <p>Tu mensaje ha sido enviado correctamente. Me pondré en contacto contigo lo antes posible.</p>
            <a href="/">Volver al inicio</a>
        </div>
    </body>
</html>